* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0E7C7B;
  color: #D4F4DD;
}
header {
  background: #222;
  color: #fff;
  padding: 1em;
  text-align: center;
}
nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
.juego {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #222;
}
.juego img {
  width: 100%;
  border-radius: 10px;
}
.btn {
  display: inline-block;
  background: #222;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover {
  background: #444;
}
